<!DOCTYPE html>
<html>
<head>
	<title>Create User</title>
</head>
<body>
	<form method="post" enctype="multipart/form-data">
		<fieldset>
			<legend>Create New User</legend>
			<table>
				<tr>
					<td>Name</td>
					<td><input type="text" name="uname"></td>
				</tr>
				<tr>
					
					<td>Password</td>
					<td><input type="text" name="password"></td>
				</tr>

				<tr>
					<td>type</td>
					<td><input type="text" name="type"></td>
				</tr>
				
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Submit"></td>
				</tr>
			</table>
		</fieldset>
	</form>
	<a href="/home">Back</a>
</body>
</html>